@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<body>

<h1>Dashboard</h1>

<p>Stop: @CurrentData.Stop</p>
<br/>

<p>Give Way: @CurrentData.GiveWay</p>
<br/>

<p>Priority Road: @CurrentData.PriorityRoad</p>
<br/>

<p>Thirty Speed Limit: @CurrentData.ThirtySpeedLimit</p>
<br/>

<p>Fifty Speed Limit: @CurrentData.FiftySpeedLimit</p>
<br/>

<p>Unclassified: @CurrentData.Unclassified</p>
<br/>

<p>Total: </p>
<br/>

</body>
