@page "/numberdraw"

<PageTitle>Number Draw</PageTitle>

<body>

<frame @onload='@(() => CallJSFunction("init"))'></frame>

<h1>Number Draw</h1>

<p>
    Draw a number in the field below and let the neural net
    work guess what number you just drew. Submit your result
    by clicking on the button containing the corresponding number.
</p>

<button class="btn btn-secondary"
        @onclick='@(() => CallJSFunction("fillCanvas",0))'>
        0
</button>
<button class="btn btn-secondary"
        @onclick='@(() => CallJSFunction("fillCanvas",1))'>
        1
</button>
<button class="btn btn-secondary"
        @onclick='@(() => CallJSFunction("fillCanvas",2))'>
        2
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",3))'>
        3
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",4))'>
        4
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",5))'>
        5
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",6))'>
        6
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",7))'>
        7
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",8))'>
        8
</button>
<button class="btn btn-secondary" 
        @onclick='@(() => CallJSFunction("fillCanvas",9))'>
        9
</button>

<br><br/>

<canvas id="image" width="300" height="300"></canvas>

<!--<br><br/>-->

<br><br/>

<p>Wählen Sie Dateien aus. Von Bildern werden Vorschaubilder erzeugt.</p>
<input type="file" id="files" name="files[]" single />
<output id="list"></output>

<br><br/>

<button class="btn btn-primary" 
        @onclick="@UploadBitmaps">
        Upload data
</button>

<br><br/>

<img src="https://media.giphy.com/media/JVGLHEuzbVviw/giphy.gif" alt="funny GIF" width="50%">
<br><br/>

<img src="https://media4.giphy.com/media/Rlwz4m0aHgXH13jyrE/giphy.gif?cid=790b76116625cb649b0ddaef703b47baa13445686c52d046&amp" alt="Goal Omg GIF by JustViral" style="width: 50%; height: 50%; left: 0px; top: 0px; opacity: 1;">
<br><br/>

<img src="https://media4.giphy.com/media/eiFHOrOrZkGEANiZLj/giphy.gif?cid=790b761128842de80a6f6bad158afe927420b61c84cc096b&amp" alt="Laugh Laughing GIF by Cappa Video Productions" style="width: 50%; height: 50%; opacity: 1;">
<br><br/>

<img src="https://media4.giphy.com/media/KZfFBzfkFO113EcCoo/giphy.gif" alt="Happy Wiggling GIF by JustViral" style="width: 50%; height: 50%; left: 0px; top: 0px; opacity: 1;">
<br><br/>

</body>
